@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Poppins:wght@500;700&display=swap");
:root {
  --primary-font: "Poppins", sans-serif;
  --header-font: "Playfair Display", serif;
}

h1 {
  color: green;
  font-family: var(--header-font);
}
p {
  color: blue;
  font-family: var(--primary-font);
}
